* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background: url(../assets/image/books.jpg);
  background-size: cover;
}

body .header {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

body .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header .logo__icon {
  width: 70px;
  height: 60px;
}

body .header .logo h1 {
  font-size: 20px;
}

body .header .cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .header .cart-wrapper .final-price {
  margin: 10px;
  font-size: 22px;
}

body .header .cart-wrapper .cart {
  width: 50px;
  height: 50px;
}

body .header .cart-wrapper .number-of-books {
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  background: lightsalmon;
  border-radius: 10px;
}

body .header-wrapper, body .footer-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

body .books-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .books-wrapper .book {
  position: relative;
  width: 215px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: whitesmoke;
}

body .books-wrapper .book .price-block {
  position: absolute;
  bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
}

body .books-wrapper .book .price-block .price {
  font-size: 20px;
  color: darkred;
  font-weight: 600;
}

body .books-wrapper .book .price-block .cart:hover {
  background-color: yellowgreen;
}

body .books-wrapper .book .price-block .cart:active {
  border-radius: 50%;
}

body .books-wrapper .book .show-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  color: lightslategrey;
  border-bottom: 1px solid lightslategrey;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .books-wrapper .book .show-more:hover {
  color: black;
  border-bottom: 1px solid;
}

body .books-wrapper .book .show-more:hover ~ .image img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

body .cart {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../assets/svg/cart.svg);
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

body .author {
  font-style: italic;
  font-size: 14px;
}

body .title {
  font-weight: 600;
  margin: 20px 0 10px;
  font-size: 16px;
}

body .image img {
  width: 150px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .footer {
  background: rgba(255, 255, 255, 0.9);
}

body .footer a {
  text-decoration: none;
  color: black;
}

body .footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .footer .links__item:first-child {
  margin-right: 15px;
}

body .footer .links__item .github {
  width: 30px;
  height: 30px;
}

body .footer .links__item .rs-school {
  height: 30px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.no-scrolling {
  overflow: hidden;
}

.book-information {
  padding: 20px;
  position: fixed;
  max-width: 400px;
  width: calc(80vw - 20px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: lightblue;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.book-information .close {
  font-size: 26px;
  right: 10px;
  top: 5px;
}

.book-information .image img {
  width: 220px;
  height: 300px;
}

.book-information .book-info {
  margin-bottom: 20px;
}

.book-information .title, .book-information .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.book-information .image {
  margin: 20px 0 30px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10px;
  color: darkred;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover, .confirm-order:hover, .close-cart:hover, .links__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.close:active, .confirm-order:active, .close-cart:active, .links__item:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.basket-wrapper {
  max-width: 1340px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.basket-wrapper .basket {
  padding: 10px 0 20px;
  margin: 0 10px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: cadetblue;
  border-radius: 5px;
  width: calc(100% - 20px);
  max-width: 520px;
}

.basket-wrapper .basket .selected-books {
  max-height: 75vh;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.basket-wrapper .basket .selected-books .book {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 15px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.basket-wrapper .basket .selected-books .book .image img {
  width: 100px;
  height: 150px;
}

.basket-wrapper .basket .selected-books .book-info {
  margin-left: 10px;
  width: calc(100% - 150px);
}

.basket-wrapper .basket .selected-books .book-info .title {
  margin-top: 0;
}

.basket-wrapper .basket .selected-books .book .price {
  position: absolute;
  left: 110px;
  bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.4;
}

.basket-wrapper .confirm-or-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.basket-wrapper .confirm-or-cancel .confirm-order, .basket-wrapper .confirm-or-cancel .close-cart {
  padding: 10px 25px;
  border: 2px solid darkgreen;
  color: darkgreen;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.basket-wrapper .confirm-or-cancel .close-cart {
  border: 2px solid darkred;
  color: darkred;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: cadetblue;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

@media (max-width: 420px) {
  .basket-wrapper .basket .selected-books .book .title, .basket-wrapper .basket .selected-books .book .price {
    font-size: 14px;
  }
}

body {
  font-size: 18px;
}

body .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 420px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

body .form input {
  outline: none;
  height: 30px;
  padding: 0 10px;
}

body .form .name, body .form .address, body .form .date, body .form .payment, body .form .gifts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .form .name input, body .form .name label, body .form .address input, body .form .address label, body .form .date input, body .form .date label, body .form .payment input, body .form .payment label, body .form .gifts input, body .form .gifts label {
  font-size: 14px;
}

body .form .name input, body .form .address input {
  margin: 10px 0 20px;
}

body .form .date input {
  margin: 10px 0 20px;
  max-width: 195px;
}

body .form .address__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .form .address__number .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .form .address__number .number input {
  max-width: 150px;
}

body .form .payment__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

body .form .payment__type .radiobutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

body .form .payment__type .radiobutton input {
  margin-right: 5px;
}

body .form .gifts {
  margin-bottom: 20px;
}

body .form .gifts label:first-child {
  margin-top: 5px;
}

body .form .gifts label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .form .gifts label input {
  margin-right: 5px;
}

body .footer {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.confirm-order {
  padding: 10px 25px;
  border: 2px solid darkgreen;
  color: darkgreen;
  border-radius: 5px;
  width: 210px;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

input:focus:invalid {
  color: red;
  border: 2px solid red;
}

input:focus:valid {
  border: 2px solid green;
}
