* {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    user-select: none;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background: url(/books-shop/assets/image/books.jpg);
    background-size: cover;

    .header {
        background: rgba(255, 255, 255, 0.9);
        margin-bottom: 35px;
        position: relative;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__icon {
                width: 40px;
                height: 30px;
            }

            h1 {
                font-size: 16px;
            }
        }

        .invite {
            font-size: 28px;
            font-weight: 600;
            margin: 0 10px;

            @media(max-width: 750px) {
                font-size: 18px;
            }

            @media(max-width: 550px) {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .cart-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            padding: 2px 8px;
            border: 2px solid darkgray;
            border-radius: 10px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            .final-price {
                margin: 10px;
                font-size: 22px;
                width: 50px;
            }

            .cart {
                width: 30px;
                height: 30px;
            }

            .number-of-books {
                position: absolute;
                top: 25px;
                left: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                background: lightsalmon;
                border-radius: 10px;
            }
        }
    }

    .header-wrapper, .footer-wrapper {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .books-wrapper {
        max-width: 1340px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .book {
            position: relative;
            width: 215px;
            height: 350px;
            display: flex;
            flex-direction: column;
            margin: 15px;
            padding: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            background: whitesmoke;

            .image {
                cursor: grab;
            }

            .drag {
                opacity: 0.2;
                transition: 0.3s;
            }

            .price-block {
                position: absolute;
                bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: calc(100% - 20px);

                .price {
                    font-size: 20px;
                    color: darkred;
                    font-weight: 600;
                }

                .cart {

                    &:hover {
                        background-color: forestgreen;
                    }

                    &:active {
                        border-radius: 50%;
                    }
                }
            }

            .show-more {
                position: absolute;
                bottom: 0;
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                width: max-content;
                font-size: 12px;
                color: lightslategrey;
                border-bottom: 1px solid lightslategrey;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: black;
                    border-bottom: 1px solid;

                    & ~ .image-wrapper img {
                        transform: scale(1.08);
                    }
                }
            }
        }
    }

    .cart {
        position: relative;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        background-image: url(/books-shop/assets/svg/cart.svg);
        border-radius: 10px;
        transition: 1s;
        cursor: pointer;
    }

    .author {
        font-style: italic;
        font-size: 14px;
    }

    .title {
        font-weight: 600;
        margin: 20px 0 10px;
        font-size: 16px;
    }

    .image-wrapper img {
        width: 150px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: 0.3s;
    }

    .footer {
        background: rgba(255, 255, 255, 0.9);
        font-size: 16px;

        .links {
            display: flex;

            &__item { 
                display: flex;
                align-items: center;
                transition: 0.3s;

                &:first-child {
                    margin-right: 15px;
                }

                .github {
                    width: 20px;
                    height: 20px;
                }

                .rs-school {
                    height: 20px;
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.no-scrolling {
    overflow: hidden;
}

.book-information {
    padding: 20px;
    position: fixed;
    max-width: 400px;
    width: calc(80vw - 20px);
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: snow;
    border-radius: 5px;
    transition: 0.5s;

    .close {
        font-size: 26px;
        right: 10px;
        top: 5px;
    }

    .image-wrapper img {
        width: 220px;
        height: 300px;
    }

    .book-info {
        margin-bottom: 20px;
    }

    .title, .author {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .image-wrapper {
        margin: 20px 0 30px;
    }
}

.close {
    position: absolute;
    right: 0;
    top: 15px;
    margin-left: 10px;
    color: darkred;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover, .confirm-order:hover, .close-cart:hover, .links__item:hover {
    transform: scale(1.1);
}

.close:active, .confirm-order:active, .close-cart:active, .links__item:active {
    transform: scale(0.9);
}

.basket-wrapper {
    max-width: 1340px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .basket {
        padding: 10px 0 20px;
        margin: 0 10px;
        position: absolute;
        top: 75px;
        right: 0;
        background-color: snow;
        border-radius: 5px;
        width: calc(100% - 20px);
        max-width: 520px;

        &__title {
            margin: 10px 15px 0;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            font-size: 18px;
            font-weight: 700;
        }

        .selected-books {
            max-height: 75vh;
            overflow-y: scroll;
            margin-bottom: 10px;

            .book {
                position: relative;
                display: flex;
                margin: 0 15px;
                border-bottom: 2px solid gray;
                padding: 20px 0;

                &:first-child {
                    border-top: 2px solid gray;
                }

                .image-wrapper img {
                    width: 100px;
                    height: 150px;
                }

                &-info {
                    margin-left: 10px;
                    width: calc(100% - 150px);

                    .title {
                        margin-top: 0;
                    }
                }

                .price {
                    position: absolute;
                    left: 110px;
                    bottom: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: 0.4;
                }
            }
        }
    }

    .confirm-or-cancel {
        display: flex;
        justify-content: space-around;

        .confirm-order, .close-cart {
            padding: 10px 25px;
            border: 2px solid darkgreen;
            color: darkgreen;
            width: max-content;
            margin: 0 auto;
            border-radius: 5px;
            transition: 0.3s;
            cursor: pointer;
        }

        .close-cart {
            border: 2px solid darkred;
            color: darkred;
        }
    }
}

.add-book {
    width: max-content;
    position: absolute;
    top: 65px;
    right: 0;
    color: black;
    border: 2px solid;
    border-radius: 5px;
    background: whitesmoke;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: snow;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

@media(max-width: 420px) {
    .basket-wrapper .basket .selected-books .book {

        .title, .price {
            font-size: 14px;
        }
    }
}
